spring:
  application:
    name: client-processing

  kafka:
    consumer:
      group-id: "default"

  config:
    import:
      optional:application-secret.yaml

  datasource:
    driver-class-name: org.postgresql.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

    jpa:
      show-sql: true
      hibernate:
        ddl-auto: validate

    liquibase:
      enabled: true

server:
  port: 8082

time-limit: 100
cache-time-limit: 10000
